body{
    background-color: #E9E5DF;
}
.custom-position{
    position: absolute;
    top:95px;
    left: 30px;
    width: 10px;
    height: 10px;

}
.custom-position img{
    
    border: 2px solid white;
    border-radius: 50%; 
    width: 100px;
    height: 100px;
    margin-top: 37px;
    margin-left: 59px;
}

a.nav-link.active{
    margin-top: -15px;
}
a.nav-link{
    margin-top: -15px;

}

